//함수

@mixin button($bg, $bd, $ol) {
    background: $bg;
    border: $bd;
    outline: $ol;
}

@mixin position($position, $top, $right, $bottom, $left, $zindex: auto) {
    position: $position;
    inset: $top $right $bottom $left;
    z-index: $zindex;
}
// zindex를 쓰기 싫으면 초기값을 ($zindex: auto) 입력해놓으면 안써도된다

@mixin background($img, $h, $v) {
    background: url($img) no-repeat $h $v/cover;
}