$defaultSize: 1410px;
$border : 1px solid #f7f7f7;

@mixin inner {
    max-width: $defaultSize;
    margin: 0 auto;
}

@mixin Itm {
    border: $border;
    padding: 10px;
}

@mixin List($display) {
    display: $display;
}