*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

body {
    line-height: 1;
}

p {
    word-break: keep-all;
}

// slick slide 반짝임 없애기
.slick-track,
.slick-slide {
    transition-delay: 300ms;
}