@import './reset';
@import './font';
@import './variable';
@import './mixin';
@import './basic';

body {
    font-family: 'Roboto', 'Noto Sans KR', sans-serif;
}

.header {
    @include position(fixed, 0, 0, auto, 0, 999);
    height: 100px;
    align-items: center;
    border-bottom: $line;
    transition: 0.5s;

    &.on {
        background: #fff;
        border-bottom: $line;
    }

    h1 {
        position: absolute;
        top: 0;
        left: 80px;

        line-height: 100px;
    }

    .service {
        position: absolute;
        top: 0;
        right: 80px;

        line-height: 100px;
        align-items: center;

        button {
            @include button (transparent, none, none)
        }

        i.cart {
            position: relative;
            font-size: 30px;
            margin: 0 0 0 10px;

            span {
                position: absolute;
                top: -5px;
                right: -5px;
                padding: 5px;
                background: $mc;
                color: $gc;
                font-size: 12px;
                border-radius: 5px;
            }
        }
    }

    .gnb {
        ul {
            display: flex;
            gap: 30px;
            font-size: 14px;
        }
    }
}


// MainVisual
.MainSlide {
    position: relative;

    .itm {
        position: relative;
        height: 100vh;

        .slogan {
            @include position (absolute, 50%, auto, auto, 50%);
            transform: translate(-50%, -50%);

            >* {
                display: block;
                font-style: normal;
                margin: 0 0 10px 0;
                color: $gc;
                text-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
            }

            em {
                font-size: 14px;
                text-transform: uppercase;
            }

            span {
                font-size: 30px;
                font-weight: 700;
            }

            strong {
                font-size: 18px;
                font-weight: 300;
                margin: 0 0 40px 0;
            }

            a {
                display: inline-block;
                padding: 5px 15px;
                background: #333;
                font-size: 12px;
                text-transform: uppercase;
                transition: 0.3s;

                &:hover {
                    background: $mc;
                }
            }
        }

        &.itm01 {
            @include background ("../../public/images/main_m01.jpg", center, center);
        }

        &.itm02 {
            @include background ("../../public/images/main_m02.jpg", center, center);
        }

        &.itm03 {
            @include background ("../../public/images/main_m03.jpg", center, center);
        }
    }

    .slick-dots {
        @include position (absolute, auto, auto, 100px, 50%);
        transform: translate(-50%, 0);

        >* {
            display: inline-block;


            button {
                width: 100px;
                height: 5px;
                background: $gc;
                margin: 0 2px;

                border: none;
                outline: none;
                font-size: 0;

                cursor: pointer;

                //리액트 슬릭은 li만 클릭하면 클릭안됨 button에다가 스타일 줘야함!
            }
        }

        >*.slick-active {
            button {
                background: $mc;
            }
        }
    }
}

.CateList {
    padding: 300px 0 100px 0;

    .CateTitle {
        margin: 0 0 30px 0;
        padding: 100px 0;
        border-bottom: $line;
        text-align: center;
    }
}

.SlideList {
    position: relative;
    padding: $sp;

    .list {
        margin: 0 -10px;
    }

    .itm {
        padding: 0 10px;
    }

    .arrow {
        @include position (absolute, 50%, auto, auto, 50%);

        border: none;
        background: transparent;
        font-size: 0;
        width: 50px;
        height: 50px;
        border-left: $line;
        border-top: $line;
        cursor: pointer;

        &.prev {
            margin: 0 0 0 -700px;
            transform: translate(-50%, -50%) rotate(-45deg);
        }

        &.next {
            margin: 0 0 0 700px;
            transform: translate(-50%, -50%) rotate(135deg);
        }
    }

    .slick-dots {
        margin: 20px 0 0 0;
        text-align: center;

        &>* {
            display: inline-block;
        }

        &>*.slick-active {
            button {
                background: $mc;
            }
        }

        button {
            border: none;
            background: $gc;
            font-size: 0;
            width: 10px;
            height: 10px;
            margin: 0 2px;
            border-radius: 50%;
        }
    }
}

.mainTab {
    .menu {
        display: flex;
        justify-content: center;
        gap: 4px;
        &>* {
            display: inline-block;
            background: $gc;
            padding: 5px 15px;
        }
    }
}